name: staticcheck

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"

jobs:
  staticcheck:
    runs-on: windows-latest

    steps:
    - name: Set up Go
      uses: actions/setup-go@v1
      with:
        go-version: 1.16

    - name: Check out code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Check license
      run: ./check_license_headers.sh

    - name: Run staticcheck
      run: go run honnef.co/go/tools/cmd/staticcheck
